In [1]:
import pandas as pd
import numpy as np
import quandl
import math
from sklearn import preprocessing,svm
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
quandl.ApiConfig.api_key = 'n7vvb_1oFLHGyyuPtkEf'
df = quandl.get('EURONEXT/ALKAL')

In [3]:
df.head()

             Open   High    Low   Last    Volume     Turnover
Date
2018-06-12  22.30  22.30  21.77  22.00  111296.0  2449674.590
2018-06-13  22.07  22.09  21.74  21.94   25536.0   559590.010
2018-06-14  21.97  21.99  21.70  21.99   11837.0   259484.380
2018-06-15  22.00  22.03  21.93  22.02    2217.0    48784.625
2018-06-18  22.00  22.12  21.90  22.10    6310.0   139109.930

In [4]:
df = df[['Open','High','Low','Last','Volume']]

In [5]:
df.head()

             Open   High    Low   Last    Volume
Date
2018-06-12  22.30  22.30  21.77  22.00  111296.0
2018-06-13  22.07  22.09  21.74  21.94   25536.0
2018-06-14  21.97  21.99  21.70  21.99   11837.0
2018-06-15  22.00  22.03  21.93  22.02    2217.0
2018-06-18  22.00  22.12  21.90  22.10    6310.0

In [6]:
df['hl'] = (df['High'] - df['Low'])/df['Low'] * 100

In [7]:
df['ol'] = (df['Last'] - df['Open'])/df['Open'] * 100

In [8]:
df = df[['Last','hl','ol','Volume']]

In [9]:
df.head()

             Last        hl        ol    Volume
Date
2018-06-12  22.00  2.434543 -1.345291  111296.0
2018-06-13  21.94  1.609936 -0.589035   25536.0
2018-06-14  21.99  1.336406  0.091033   11837.0
2018-06-15  22.02  0.455996  0.090909    2217.0
2018-06-18  22.10  1.004566  0.454545    6310.0

In [10]:
forecast_col = 'Last'

In [41]:
df.isnull().values.any()
df.dropna(inplace = True)

In [42]:
len(df)

312

In [57]:
forecast_out = int(math.ceil(0.02*len(df)))

In [58]:
df['Label'] = df[forecast_col].shift(-forecast_out)

In [59]:
df['Label'].tail(50)

Date
2019-03-21    15.90
2019-03-22    15.72
2019-03-25    15.75
2019-03-26    15.70
2019-03-27    15.30
2019-03-28    15.40
2019-03-29    15.50
2019-04-01    17.10
2019-04-02    17.25
2019-04-03    17.65
2019-04-04    17.50
2019-04-05    17.80
2019-04-08    17.75
2019-04-09    17.95
2019-04-10    17.65
2019-04-11    17.40
2019-04-12    17.25
2019-04-15    17.25
2019-04-16    16.80
2019-04-17    17.15
2019-04-18    17.20
2019-04-23    17.15
2019-04-24    17.00
2019-04-25    17.10
2019-04-26    17.00
2019-04-29    16.85
2019-04-30    17.00
2019-05-02    16.90
2019-05-03    17.10
2019-05-06    17.10
2019-05-07    17.10
2019-05-08    17.10
2019-05-09    17.15
2019-05-10    17.15
2019-05-13    17.10
2019-05-14    17.20
2019-05-15    17.20
2019-05-16    16.95
2019-05-17    16.95
2019-05-20    16.90
2019-05-21    16.50
2019-05-22    15.30
2019-05-23    16.00
2019-05-24    16.20
2019-05-27    16.30
2019-05-28      NaN
2019-05-29      NaN
2019-05-30      NaN
2019-05-31      NaN
2019-06-03      NaN
Name: Label, dtype: float64

In [60]:
df.dropna(inplace = True)

In [61]:
df['Label'].isnull().values.any()

False

In [62]:
#features will be
x = np.array(df.drop(['Label'], 1))
y = np.array(df['Label'])

In [63]:
x = preprocessing.scale(x)

In [64]:
#to make sure that we have x only for where we had values for y
#x = x[:-forecast_out +1]

In [65]:
df.dropna(inplace = True)

In [66]:
print(len(x),len(y))

244 244

In [67]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

In [68]:
#clf = LinearRegression()

In [69]:
#clf.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [70]:
#clf.score(x_test,y_test)

0.847945372637671

In [71]:
clf = svm.SVR()
clf.fit(x_train,y_train)
clf.score(x_test,y_test)

/home/ammar/anaconda3/lib/python3.7/site-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7791864330761551